<div class="films_mainContainer">
    <div class="title">
        <p>კინო</p>
    </div>
    <swiper-container
    #swiper
    navigation="false"
    [slidesPerView]="slidesPerView"
    loop="false"
    >
        <ng-container *ngFor="let tktGeMove of tktGeMoives">
            <swiper-slide class="swiper_slide">
                <a href="movieDetails/{{tktGeMove.showId}}">
                    <div class="card">
                        <div class="image_card">
                            <div class="img">
                                <img [src]="tktGeMove.desktopImage" alt="">
                            </div>
                        </div>
                        <div class="card_title">
                            <span>{{tktGeMove.name}}</span>
                        </div>
                    </div>
                </a>
            </swiper-slide>
        </ng-container>
    </swiper-container>
</div>

