<div class="settings_container">
        <div class="password_change">
            <div class="title">
                <p>პაროლი</p>
            </div>
            <div class="description">
                <p>პაროლის შესაცვლელად, შეიყვანეთ თქვენი ძველი და ახალი პაროლი.</p>
            </div>
            <div class="inputs">
                <input type="password" placeholder="არსებული პაროლი" >
                <input type="password" placeholder="ახალი პაროლი">
            </div>
            <div class="pasword_changeButton">
                <button>პაროლის შეცვლა</button>
            </div>
        </div>
</div>