<div class="events_leftSide_menu">
    <div class="Menu">
        <a routerLink="events" routerLinkActive="active"><i class="fa-solid fa-ticket" style="rotate: 90deg;"></i>ღონისძიებები</a>
        <a routerLink=""><i class="fa-solid fa-music"></i>კონცერტები</a>
        <a href=""><i class="fa-solid fa-heart"></i>წინანდლის ფესტივალი</a>
        <a href=""><i class="fa-solid fa-city"></i>ბათუმი</a>
        <a href=""><i class="fa-solid fa-bus"></i>ტრანსპორტი</a>
        <a href=""><i class="fa-solid fa-masks-theater"></i>თეატრი</a>
        <a href=""><i class="fa-solid fa-mask"></i>ოპერა</a>
        <a href=""><i class="fa-solid fa-basketball"></i>სპორტი</a>
        <a href=""><i class="fa-solid fa-feather-pointed"></i>სხვა</a>
    </div>
</div>
