<div class="details_mainContainer">
    <div class="details_components">
        <div class="image">
            <img src="https://static.tkt.ge/img/{{poster}}" alt="">
        </div>
        <div class="details_container">
            <div class="description">
                <p>{{details.name}}</p>
                <p *ngIf="event.isSoldByMap === true" class="soldOut"><i class="fa-solid fa-circle-exclamation"></i> ყველა ბილეთი გაყიდულია</p>
                <p class="description_text">აღწერა</p>
                <span [innerHTML]="details.description"></span>
            </div>
            <div class="date_price">
                <div class="date_location">
                    <p>{{event.date | date}}</p>
                    <p><i class="fa-solid fa-location-dot"></i> {{addres.address}}</p>
                </div>
                <div class="price">
                    <p>{{price.amount}} ₾-დან</p>
                </div>
                <div class="buyButton" *ngIf="event.isSoldByMap === false">
                    <button>ყიდვა</button>
                </div>
            </div>
        </div>
    </div>
</div>
