header{
    width: 100%;
    height: 120px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
    .Ads{
        width: 100%;
        height: 50px;
        background-image: url("/assets/images/ads/tnetAds.png");
        background-position: center;
        background-size: cover;
    }
    nav{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .logo_search{
            display: flex;
            align-items: center;
            gap: 50px;
            .logo{
                a{
                    img{
                        width: 120px;
                    }
                }
            }
            .search_container{
                width: 260px;
                height: auto;
                display: flex;
                flex-direction: column;
                .search{
                    width: 260px;
                    height: 30px;
                    background-color: #ebedff;
                    border-radius: 20px;
                    padding: 0px 5px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    input{
                        width: 240px;
                        height: 30px;
                        border: none;
                        border-radius: 20px;
                        background-color: #ebedff;
                        outline: none;
                        padding: 0px 5px;
                    }
                    i{
                        font-size: 10px;
                    }
                }
                .searchedEvents{
                    width: 380px;
                    height: 280px;
                    overflow-y: scroll;
                    background-color: rgb(255, 255, 255);
                    padding: 15px 20px;
                    position: absolute;
                    transform: translateY(40px);
                    border-radius: 5px;
                    box-shadow: 0px 0px 30px 1px rgba(128, 128, 128, 0.267);
                    display: none;
                    flex-direction: column;
                    gap: 20px;
                    .searchedEvents_container{
                        width: 350px;
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .cards{
                            width: 100%;
                            height: auto;
                            display: flex;
                            gap: 10px;
                            .image{
                                img{
                                    width: 120px;
                                    border-radius: 5px;
                                }
                            }
                            .texts{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                color: black;
                                span:nth-child(1){
                                    font-size: 12px;
                                }
                                span:nth-child(2){
                                    font-size: 9px;
                                }
                                span:nth-child(3){
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .popularEvents{
                        .events{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding-bottom: 15px;
                            a{
                                .cards{
                                    display: flex;
                                    gap: 10px;
                                    .image{
                                        img{
                                            width: 120px;
                                            border-radius: 5px;
                                        }
                                    }
                                    .texts{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        color: black;
                                        span:nth-child(1){
                                            font-size: 12px;
                                        }
                                        span:nth-child(2){
                                            font-size: 9px;
                                        }
                                        span:nth-child(3){
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .searchedEvents::-webkit-scrollbar{
                    display: none;
                }
                .search:focus-within + .searchedEvents {
                    display: flex;
                }
            }
            .searchContainerFilmsPage{
                .search{
                    background-color: #2b2f59;
                    input{
                        background-color: #2b2f59;
                        color: white;
                    }
                    .searchIcon{
                        color: white;
                    }
                }
                .searchedEvents{
                    background-color: #181a33;
                    .popularEvents{
                        .title{
                            p{
                                color: white;
                            }
                        }
                        .events{
                            a{
                                .cards{
                                    .texts{
                                        span{
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .routes{
            display: flex;
            align-items: center;
            gap: 20px;
            a{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #676881;
                font-size: 20px;
                i{
                    font-size: 30px ;
                }
                img{
                    width: 15px;
                }
            }
            a:hover{
                background-color: #ebedff;
            }
            .filmsPageActive{
                color: white;
                i{
                    color: white;
                }
            }
            .homeActive{
                background-color: #0872fd;
                color: white;
            }
            .homeActive:hover{
                background-color: #0872fd;
            }
            .EventActive{
                background-color: red;
                color: white;
            }
            .EventActive:hover{
                background-color: red;
            }
        }
        .routesFilmsPage{
            a{
                color: #ccd0e9;
            }
        }
        .auth_language_tnet{
            display: flex;
            align-items: center;
            gap: 20px;
            .authButton{
                button{
                    width: 120px;
                    height: 30px;
                    background-color: #0f78ff;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    cursor: pointer;
                }
                button:hover{
                    background-color: #0872fd;
                }
            }
            .userMenu{
                display: flex;
                flex-direction: column;
                .UserInformation{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    .userName_Balance{
                        display: flex;
                        flex-direction: column;
                        gap: 0px;
                        p{
                            font-size: 12px;
                        }
                        p:nth-child(1){
                            transform: translateY(10px);
                        }
                        p:nth-child(2){
                            color: #0872fd;
                            text-align: center;
                        }
                        .name{
                            color: white
                        }
                    }
                    .userImage{
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }
                    .filmPageActive{
                        color: white;
                    }
                }
                .Menu{
                    position: absolute;
                    transform: translate(-50px,60px);
                    width: 130px;
                    height: 80px;
                    background-color: #fff;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.082);
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        height: 75px;
                        font-size: 13px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        color: #676881;
                        cursor: pointer;
                    }
                    a{
                        height: 75px;
                        font-size: 13px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        color: #676881;
                        cursor: pointer;
                    }
                }
                .MenuActive{
                    display: flex;
                }
            }
            .ticket{
                font-size: 20px;
                color: #676881;
            }
            img{
                width: 20px;
            }
        }
        .userFilmsPage{
            .userMenu{
                .UserInformation{
                    .userName_Balance{
                        p:nth-child(1){
                            color: white;
                        }
                    }
                }
                .Menu{
                    background-color: #2b2f59;
                    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.479);
                    a{
                        color: white;
                    }
                }
            }
            .ticket{
                .tkt{
                    color: white;
                }
            }
        }
    }
    .filmsPageActive{
        background-color: #181a33;
    }
}
.auth_container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.308);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
.auth_container_active{
    display: flex;
}
.bg{
    background-color: #181a33;
}