<header [class.bg]="filmsPageActive">
    <div class="Ads"></div>
    <nav >
        <div class="logo_search" >
            <div class="logo" >
                <a routerLink="" *ngIf="filmsPageActive === false"><img src="assets/images/logo/tktGe.png" alt="" ></a>
                <a routerLink="" *ngIf="filmsPageActive === true"><img src="assets/images/logo/tktGeBlack.png" alt="" ></a>
            </div>
            <div class="search_container" [class.searchContainerFilmsPage]="filmsPageActive">
                <div class="search" >
                    <input  type="search" placeholder="ძებნა..." [(ngModel)]="eventSearch" name="eventSearch">
                    <i class="fa-solid fa-magnifying-glass searchIcon" (click)="search()" style="cursor: pointer;"></i>
                </div>
                <div class="searchedEvents">
                    <div class="searchedEvents_container">
                        <ng-container *ngFor="let serchedResult of searchResults">
                            <div class="searchedCards">
                                <img [src]="serchedResult.Poster" alt="">
                            </div>
                        </ng-container>
                    </div>
                    <div class="popularEvents">
                        <div class="title">
                            <p>პოპულარული ღონისძიებები</p>
                        </div>
                        <div class="events">
                            <ng-container *ngFor="let popularEvent of popularEvents">
                                <a href="/concert">
                                    <div class="cards">
                                        <div class="image">
                                            <img src="https://static.tkt.ge/img/{{popularEvent.imageName}}" alt="">
                                        </div>
                                        <div class="texts">
                                            <span class="test">{{popularEvent.eventName}}</span>
                                            <span>{{popularEvent.eventDate | date}}</span>
                                            <span>{{popularEvent.venueName}}</span>
                                        </div>
                                    </div>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="routes" [class.routesFilmsPage]="filmsPageActive">
            <a routerLink="" [routerLinkActive]="'homeActive'"  [routerLinkActiveOptions]="{exact:true}" ><i class="fa-solid fa-house"></i></a>
            <a routerLink="events" [routerLinkActive]="'EventActive'" ><i class="fa-solid fa-ticket" style="rotate: 90deg;"></i></a>
            <a routerLink="moviePage" [routerLinkActive]="'homeActive'" ><i class="fa-solid fa-clapperboard"></i></a>
            <a routerLink="" ><i class="fa-solid fa-train-subway" ></i></a>
            <a routerLink="" ><i class="fa-solid fa-plane"></i></a>
            <a routerLink="" ><i class="fa-solid fa-globe"></i></a>
        </div>
        <div class="auth_language_tnet" [class.userFilmsPage]="filmsPageActive">
            <div class="authButton" *ngIf="_AuthService.isAuthorized() === false">
                <button (click)="authWindowOpens(true)">ავტორიზაცია</button>
            </div>
            <div class="userMenu" *ngIf="_AuthService.isAuthorized() === true">
                <div class="UserInformation" (click)="userMenuShow()">
                    <div class="userName_Balance" >
                        <p>{{profileData.name}}</p>
                        <p>₾0</p>
                    </div>
                    <div class="userImage">
                        <img [src]="profileData.avatar" alt="">
                    </div>
                </div>
                <div class="Menu" [class.MenuActive]="userMenu">
                    <a routerLink="profile" (click)="userMenuShow()"><i class="fa-regular fa-user"></i>პროფილი</a>
                    <a href="/" (click)="logOut();userMenuShow()"><i class="fa-solid fa-right-from-bracket"></i>გამოსვლა</a>
                </div>
            </div>
            <div class="ticket" *ngIf="_AuthService.isAuthorized() === true">
                <i class="fa-solid fa-ticket tkt" style="rotate: 90deg;"></i>
            </div>
            <img src="assets/images/routes/britishLanguage.png" alt="">
            <i class="fa-regular fa-circle "></i>
        </div>
    </nav>
</header>