.movieMainPage_firstImages_mainContainer{
    display: flex;
    gap: 10px;
    img{
        width: 600px;
        transition: 0.3s;
        border-radius: 10px;
    }
    img:hover{
        transform: translateY(-10px);
    }
}