<div class="mainPage_mainContainer">
    <div class="components_container">
        <div class="pinned_carousel">
            <app-pinned-events-carousel></app-pinned-events-carousel>
        </div>
        <div class="popular_events">
            <app-popular-events-swiper></app-popular-events-swiper>
        </div>
        <div class="adsOne"></div>
        <div class="today_events">
            <app-today-events-swiper></app-today-events-swiper>
        </div>
        <div class="new_events">
            <app-new-events-swiper></app-new-events-swiper>
        </div>
        <div class="films">
            <app-films-swiper></app-films-swiper>
        </div>
        <div class="adsTwo"></div>
    </div>
</div>
