.mainPage_mainContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    .components_container{
        width: 60%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .pinned_carousel{
            height: 430px;
        }
        .adsOne{
            width: 100%;
            height: 150px;
            background-image: url("https://port80ge.adocean.pl/files/x/scc/oivikya/tjgfejenkz/fly-desktop-ka.png");
            background-size: cover;
            border-radius: 10px;
        }
        .adsTwo{
            width: 100%;
            height: 170px;
            background-image: url("https://port80ge.adocean.pl/files/x/scc/oivikya/pdlsmxjuad/railway-desktop-ka.png");
            background-size: cover;
            border-radius: 10px;
        }
    }
}
@media screen and (max-width:1380px){
    .mainPage_mainContainer{
        .components_container{
            .pinned_carousel{
                height: 350px;
            }
        }
    }
}
@media screen and (max-width:1100px){
    .mainPage_mainContainer{
        .components_container{
            padding-top: 80px;
            width: 90vw;
            margin: 0;
            .pinned_carousel{
                height: 430px;
            }
        }
    }
}

@media screen and (max-width:768px){
    .mainPage_mainContainer{
        .components_container{
            .pinned_carousel{
                height: 350px;
            }
        }
    }
}

@media screen and (max-width:600px){
    .mainPage_mainContainer{
        .components_container{
            .pinned_carousel{
                height: 300px;
            }
        }
    }
}
@media screen and (max-width:480px){
    .mainPage_mainContainer{
        .components_container{
            .pinned_carousel{
                height: 260px;
            }
        }
    }
}
@media screen and (max-width:400px){
    .mainPage_mainContainer{
        .components_container{
            .pinned_carousel{
                height: 220px;
            }
        }
    }
}