*{
    font-family: "Noto Sans Georgian", sans-serif;
}
.profile_navigation_container{
    width: 100%;
    height: auto;
    padding-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .routes{
        display: flex;
        gap: 50px;
        border-bottom: 1px rgb(255, 0, 0);
        a{
            height: 40px;
            font-size: 15px;
            color: gray;
            transform: translateY(11px);
            cursor: pointer;
        }
        .active{
            color: black;
            border-bottom: 2px solid #0872fd;
        }
    }
    .line{
        background-color: #00000041;
        width: 60%;
        height: 1px;
    }
}


@media screen and (max-width:1100px){
    .profile_navigation_container{
        .line{
            width: 90%;
        }
    }
}