<div class="cards_container">
    <div class="left_side">
        <div class="pay_methode">
            <div class="title">
                <p>გადახდის მეთოდები</p>
            </div>
            <div class="description">
                <p>თქვენ არ გაქვთ დამახსოვრებული ბარათი</p>
            </div>
        </div>
    </div>
    <div class="right_side">
        <div class="discount_cards">
            <div class="title">
                <p>ფასდაკლების ბარათები</p>
                <a>ახალი ბარათი</a>
            </div>
            <div class="description">
                <p>ბარათის დამატების შემდეგ ფასდაკლება</p>
                <p>ავტომატურად იმოქმედებს ბილეთების შეძენისას.</p>
            </div>
            <div class="window">

            </div>
        </div>
    </div>
</div>
