.eventsPageComponents_Container{
    width: 65vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width:1100px){
    .eventsPageComponents_Container{
        padding-top: 80px;
        width: 90vw;
    }
}
