<div class="newEvents_mainContainer">
    <div class="title">
        <p>ახალი ღონისძიებები</p>
    </div>
    <swiper-container
    #swiper
    navigation="false"
    [slidesPerView]="slidesPerView"
    loop="false">
        <ng-container *ngFor="let tktUpComingEvent of tktUpComingEvents">
            <swiper-slide class="swiper_slide">
                <a href="showDetails/{{tktUpComingEvent.itemId}}">
                    <div class="card">
                        <div class="image_card">
                            <div class="date_container">
                                <div class="date">
                                    <span>05</span>
                                    <span>ივლ</span>
                                </div>
                            </div>
                            <div class="price_container" *ngIf="tktUpComingEvent.isSoldOut === false">
                                <div class="price" >
                                    <p>{{tktUpComingEvent.minPrice}} ₾-დან</p>
                                </div>
                            </div>
                            <div class="soldOut_container" *ngIf="tktUpComingEvent.isSoldOut === true">
                                <div class="soldOut">
                                    <p>გაყიდულია</p>
                                </div>
                            </div>
                            <div class="img">
                                <img [src]="tktUpComingEvent.horizontalImageUrl" alt="">
                            </div>
                        </div>
                        <div class="card_title">
                            <span>{{tktUpComingEvent.name}}</span>
                            <span>{{tktUpComingEvent.venueName}}</span>
                            <span>{{tktUpComingEvent.eventDate | date}}</span>
                        </div>
                    </div>
                </a>
            </swiper-slide>
        </ng-container>
    </swiper-container>
</div>

