*{
    font-family: "Noto Sans Georgian", sans-serif;
}
.popularEvents_mainContainer{
    width: 100%;
    height: auto;
    .title{
        p{
            font-size: 15px;
            font-weight: bold;
        }
    }
    a{
        .card{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .image_card{
                .img{
                    img{
                        border-radius: 10px;
                        width: 280px;
                        height: 150px;
                    }
                }
                .date_container{
                    width: 280px;
                    height: 150px;
                    position: absolute;
                    padding: 5px;
                    .date{
                        width: 40px;
                        height: 40px;
                        background-color: white;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        span{
                            height: 13px;
                            font-size: 13px;
                            color: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                .price_container{
                    position: absolute;
                    width: 280px;
                    height: 150px;
                    background: linear-gradient(to top , rgba(0, 0, 0, 0.651) , rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0));
                    border-radius: 10px;
                    padding: 10px;
                    display: none;
                    align-items: end;
                    justify-content: end;
                    p{
                        background-color: #0872fd;
                        color: white;
                        border-radius: 10px;
                        padding: 5px 15px;
                    }
                }
                .soldOut_container{
                    position: absolute;
                    width: 280px;
                    height: 150px;
                    padding: 10px;
                    display: flex;
                    align-items: end;
                    justify-content: end;
                    p{
                        background-color: red;
                        color: white;
                        padding: 5px 15px;
                        border-radius: 10px;
                    }
                }
            }
            .card_title{
                display: flex;
                flex-direction: column;
                span:nth-child(1){
                    font-size: 13px;
                    font-weight: bold;
                    color: black;
                }
                span:nth-child(2){
                    font-size: 10px;
                    color: black;
                }
                span:nth-child(3){
                    font-size: 11px;
                    color: #0872fd;
                }
            }
        }
    }
    .swiper_slide:hover{
        a{
            .card{
                .price_container{
                    display: flex;
                    p{
                        animation-name: priceUp;
                        animation-duration: 0.3s;
                    }
                }
            }
        }
    }
}

@keyframes priceUp {
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(0px);
    }
}