@import url('https://fonts.googleapis.com/css2?family=Anton&family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bubblegum+Sans&family=Caveat+Brush&family=Concert+One&family=Edu+TAS+Beginner:wght@400..700&family=Jersey+10&family=Jersey+20&family=Jersey+25&family=Mynerve&family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald&family=Permanent+Marker&family=Poetsen+One&family=Protest+Guerrilla&family=Protest+Revolution&display=swap');
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f5f6ff;
}
body::-webkit-scrollbar{
    display: none;
}