.title{
    p{
        font-size: 16px;
        color: white;
    }
}
.currentMovies_mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
    a{
        width: 290px;
        img{
            width: 290px;
            border-radius: 10px;
        }
        p{
            color: white;
            font-size: 15px;
        }
    }
}

@media screen and (max-width:1912px){
    .currentMovies_mainContainer{
        a{
            width: 23%;
            img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:1650px){
    .currentMovies_mainContainer{
        a{
            width: 32%;
            img{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:1189px){
    .currentMovies_mainContainer{
        a{
            width: 30%;
            img{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:1100px){
    .currentMovies_mainContainer{
        a{
            width: 49%;
            img{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:832px){
    .currentMovies_mainContainer{
        a{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}